body {
	font-family: 'Lato', sans-serif;
	font-size:20px;
  font-weight: 300;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 60px;
}

h2 {
  color: #ba1f3b;
}

table {
    text-align: center;
    margin-left:    auto;
    margin-right:   auto;
}

p {
	width: 100%;
}

a {
	text-decoration: none;
}


a:link {
	color: #ba1f3b;
}

a:visited {
	color: #ba1f3b;
}

a:hover {
	color: #5F5A59;
}

.heading {
  color: #ba1f3b;
	text-align:left;
	float: left;
}

.menu {
	float: right;
  padding-top: 20px;
	font-size: 24px;
}

.menu td {
  padding-left: 15px;
}

/* Glyph, by Harry Roberts */
		
hr.style-eight {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.nav {
  margin-top: 30px;
  overflow: auto;
}

.nav hr {
	clear:both;
}

.content{
	clear:both;
}

.body-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}
